.profile {
  width: 250px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: sans-serif;
  color: rgb(118, 134, 150);
  /* margin-right:auto;
    margin-left:auto; */
}

.stats {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 246, 249);
  border: 1px solid rgb(228, 233, 240);
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.statsItem {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  padding-top: 20px;
  padding-bottom: 20px;

  border-right: 1px solid rgb(228, 233, 240);
  width: 33%;
  align-items: center;

  font-size: 12px;
}

.statsItem:last-child {
  border-right: none;
}

.quantity {
  font-size: 16px;
}

.avatar {
  display: block;
  max-width: 100%;
  width: 40%;
  border-radius: 50%;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.name,
.quantity {
  color: rgb(18, 34, 54);
  font-weight: 700;
}

.location {
  margin-top: 0;
}

.name,
.location {
  margin-bottom: 0;
}

.name {
  font-size: 24px;
}
